#if($ctx.results.items.size() == 0)
    #return
#end

#set($tracking = [])

#foreach($item in $ctx.result.items)
    #if($item["_TYPE"] == "TRACKING")
        $util.qr($tracking.add($item))
    #end
#end


$util.toJson($tracking)