#if($ctx.results.items.size() == 0)
    #return
#end

#set($areas = [])

#foreach($item in $ctx.result.items)
    #if($item["_TYPE"] == "AREA")
        $util.qr($areas.add($item))
    #end
#end


$util.toJson($areas)