#if($ctx.results.items.size() == 0)
    #return
#end

#set($projects = [])

#foreach($item in $ctx.result.items)
    #if($item["_TYPE"] == "PROJECT")
        $util.qr($projects.add($item))
    #end
#end


$util.toJson($projects)