#set( $tag = "AREA" )

{
    "version" : "2018-05-29",
    "operation" : "Query",
    "query" : {
        "expression": "PK = :pk AND SK = :sk",
        "expressionValues" : {
        	":pk": {
                "S": "$tag"
            },
            ":sk": $util.dynamodb.toDynamoDBJson("AREA#$ctx.source.fatherId")
        }
    }
}