#set($id = $util.autoUlid())

{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key" : {
        "PK": $util.dynamodb.toDynamoDBJson("PROJECT#$ctx.args.input.projectId"),
        "SK": $util.dynamodb.toDynamoDBJson("ACTIVITY#${id}"),
    },
    "attributeValues" : {
        "_TYPE": $util.dynamodb.toDynamoDBJson("ACTIVITY"),
        "id": $util.dynamodb.toDynamoDBJson(${id}),
        "threadId": $util.dynamodb.toDynamoDBJson($ctx.args.input.threadId),
        "userId": $util.dynamodb.toDynamoDBJson($ctx.args.input.userId),
        "title": $util.dynamodb.toDynamoDBJson($ctx.args.input.title),
        "status": $util.dynamodb.toDynamoDBJson($ctx.args.input.status),
        "color": $util.dynamodb.toDynamoDBJson($ctx.args.input.color),
        "type": $util.dynamodb.toDynamoDBJson($ctx.args.input.type),
        "criticality": $util.dynamodb.toDynamoDBJson($ctx.args.input.criticality),
        "closedInternallyAt": $util.dynamodb.toDynamoDBJson($ctx.args.input.closedInternallyAt), 
        "closedInternallyBy": $util.dynamodb.toDynamoDBJson($ctx.args.input.closedInternallyBy),
        "closedClientAt": $util.dynamodb.toDynamoDBJson($ctx.args.input.closedClientAt), 
        "closedClientBy": $util.dynamodb.toDynamoDBJson($ctx.args.input.closedClientBy),
        "createdAt": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrEmpty($ctx.args.input.publishDate, $util.time.nowISO8601())),
        "createdBy": $util.dynamodb.toDynamoDBJson($ctx.args.input.createdBy),
        "modifiedAt": $util.dynamodb.toDynamoDBJson($ctx.args.input.modifiedAt), 
        "modifiedBy": $util.dynamodb.toDynamoDBJson($ctx.args.input.modifiedBy),
    }
}