#set( $tag = "ATTACHMENT" )

{
    "version" : "2018-05-29",
    "operation": "Scan",
    "filter": {
        "expression": "#pk = :pk and #tag = :tag",
        "expressionNames" : {
            "#pk" : "PK",
            "#tag" : "_TYPE"
        },
        "expressionValues" : {
            ":tag": {
                "S": "$tag"
            },
            ":pk": $util.dynamodb.toDynamoDBJson("NOTIFICATION#$ctx.source.id")
        }
    }
}