#set( $tag = "ACTIVITY" )

{
    "version": "2018-05-29",
    "operation": "Query",
    "query": {
        "expression": "PK = :id",
        "expressionValues" : {
            ":id": $util.dynamodb.toDynamoDBJson("PROJECT#$ctx.args.projectId")
        }
    },
    "filter" : {
        "expression": "#tag = :tag",
        "expressionNames" : {
            "#tag" : "_TYPE"
        },
        "expressionValues" : {
            ":tag": {
                "S": "$tag"
            }
        }
    }
}