#if($ctx.results.items.size() == 0)
    #return
#end

#set($areas = [])
#set($projects = [])

#foreach($item in $ctx.result.items)
    #if($item["_TYPE"] == "AREA")
        $util.qr($areas.add($item))
    #elseif($item["_TYPE"] == "PROJECT")
        $util.qr($projects.add($item))
    #end
#end

$util.qr(
    $areas.put("projects", $projects)
)

$util.toJson($areas)