#set( $tag = "ACTIVITY" )
{
    "version": "2018-05-29",
    "operation": "Scan",
    "filter": {
        "expression": "#user = :userId and #tag = :tag",
        "expressionNames" : {
            "#user" : "userId",
            "#tag" : "_TYPE"
        },
        "expressionValues" : {
            ":tag": {
                "S": "$tag"
            },
            ":userId": $util.dynamodb.toDynamoDBJson($ctx.args.userId)
        }
    }
}