#set( $tag = "AREA" )

{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "filter": {
        "expression": "#tag = :tag",
        "expressionNames" : {
            "#tag" : "_TYPE"
        },
        "expressionValues" : {
            ":tag": {
                "S": "$tag"
            }
        }
    }
}